;
; Netatalk 3.x configuration file
;

[Global]
; Global server settings

; [Homes]
; basedir regex = /xxxx

; [My AFP Volume]
; path = /path/to/volume

[{{ getv "/afp/storage/volume/name" "storage-afp" }}]
path = /media/share
valid users = {{ getv "/afp/user" "afp" }}
umask = 0007

[{{ getv "/afp/timemachine/volume/name" "time-machine" }}]
path = /media/timemachine
time machine = yes
;vol size limit = 440000
valid users = {{ getv "/afp/user" "afp" }}

